@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy'), local('Gilroy-Regular'),
    url('../assets/fonts/Gilroylight.woff2') format('woff2'),
    url('../assets/fonts/Gilroylight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Extra Bold'), local('Gilroy-ExtraBold'),
    url('../assets/fonts/Gilroyextrabold.woff2') format('woff2'),
    url('../assets/fonts/Gilroyextrabold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}