.btn {
  box-sizing: border-box;
  display: inline-block;
  overflow: hidden;
  border: none;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  cursor: pointer;
  &--bg {
    position: relative;
    width: 104px;
    height: 30px;
    border: 2px solid #47708A;
    border-radius: 3px;
    background-color: transparent;
    font-family: Gilroy;
    font-size: 12px;
    font-weight: 700;
    color: #000000;
    z-index: 0;
    transition: 0.5s;
    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background-color: #47708A;
      color: #ffffff;
      transform: scaleX(0);
      transform-origin: 0 50%;
      z-index: -1;
      transition: 0.5s;
    }
    &:hover {
      color: #ffffff;
      &::before {
        transform: scaleX(1);
      }
    }
  }
}