.nav {
  box-sizing: border-box;
  width: 100%;
  padding: 45px 40px;
  background-color: #FAFBFC;
  @media @before-w1170 {
    padding: 30px 20px;
  }
  @media @before-w768 {
    padding: 20px;
  }
  &__wrapper {
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    @media @before-w1170 {
      max-width: 650px;
      justify-content: start;
      flex-wrap: wrap;
    }
    @media @before-w768 {
      flex-direction: column;
      margin: 0;
    }
  }
  &__icon {
    margin-bottom: auto;
    color: #000000;
    transition: 0.3s;
    @media @before-w768 {
      display: none;
    }
  }
  &__link {
    height: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 15px;
    text-decoration: none;
    font-family: Gilroy;
    font-size: 14px;
    font-weight: 800;
    color: #000000;
    transition: 0.3s;
    &:last-child {
      margin-right: 0;
    }
    &:hover,
    &:active {
      color: #C6A464;
      .nav__icon {
        color: #C6A464;
      }
    }
    @media @before-w1170 {
      width: 28%;
      margin: 15px;
    }
    @media @before-w768 {
      width: 100%;
      height: 30px;
      align-items: flex-start;
      margin: 0;
    }
  }
}