.page-header {
  box-sizing: border-box;
  width: 100%;
  z-index: 1;
  @media @before-w768 {
    height: 80px;
    position: relative;
    overflow: hidden;
    &--active {
      max-height: fit-content;
      height: 100%;
      overflow-y: scroll;
    }
  }
  &__burger-inner {
    width: 20px;
    height: 3px;
    display: block;
    border-radius: 2px;
    background: #000000;
    transition: 0.4s;
  }
  &__burger {
    position: absolute;
    width: 19px;
    height: 19px;
    display: none;
    align-items: center;
    margin-right: auto;
    padding: 0;
    top: 30px;
    left: 20px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    @media @before-w768 {
      display: flex;
    }
    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 19px;
      height: 3px;
      display: block;
      border-radius: 2px;
      background: #000000;
      transition: 0.4s;
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }

    &--active {
      .page-header__burger-inner {
        display: none;
      }
      &::before {
        width: 23px;
        transform: rotate(45deg) translate(4px, 7px);
      }
      &::after {
        width: 23px;
        transform: rotate(-45deg) translate(4px,-7px);
      }
    }
  }
  &__search-mobile {
    position: absolute;
    display: none;
    border: none;
    background: none;
    top: 29px;
    left: 55px;
    color: #B3BDC3;
    @media @before-w768 {
      display: block;
    }
  }
  &__wrapper {
    box-sizing: border-box;
    max-width: 1250px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 65px 40px 29px;
    background-color: #ffffff;
    @media @before-w1170 {
      max-width: 690px;
      flex-wrap: wrap;
      padding: 45px 20px 29px;
    }
    @media @before-w768 {
      max-width: 100%;
      margin: 0;
      padding: 80px 20px 15px;
    }
  }
  &__logo {
    width: 150px;
    position: relative;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    font-family: Gilroy;
    font-size: 24px;
    font-weight: 800;
    line-height: 1.3;
    color: #000000;
    transition: 0.3s;
    &::after {
      content: '';
      width: 20px;
      height: 26px;
      position: absolute;
      display: block;
      top: 0;
      left: -2px;
      border-right: 10px solid transparent;
      border-bottom: 40px solid #ffe344;
      border-left: 10px solid transparent;
      opacity: 0;
      transition: 0.4s;
    }
    &:hover,
    &:active {
      color: #ffe344;
      &::after {
        opacity: 0.8;
      }
    }
    @media @before-w768 {
      width: auto;
      position: absolute;
      top: 22px;
      left: 50%;
      font-size: 18px;
      transform: translateX(-50%);
      &::after {
        display: none;
      }
    }
  }
  &__logo-img {
    width: 30px;
    height: 64px;
    @media @before-w768 {
      display: none;
    }
  }
  &__info {
    margin: 0 20px 0 30px;
    @media @before-w1170 {
      margin: 0 auto 0 40px;
    }
    @media @before-w768 {
      margin: 0;
    }
  }
  &__city {
    display: flex;
    align-items: center;
    font-family: Gilroy;
    font-size: 12px;
    color: #000000;
    & select {
      padding: 0;
      border: none;
      outline: none;
      background: none;
      color: #C6A464;
    }
  }
  &__contacts {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }
  &__phone {
    text-decoration: none;
    font-family: Gilroy;
    font-size: 18px;
    font-weight: 800;
    color: #000000;
    transition: 0.3s;
    &:hover,
    &:active {
      color: #2D5066;
    }
    @media @before-w768 {
      font-size: 16px;
    }
  }
  &__callMe {
    margin-top: 5px;
    padding: 0;
    border: none;
    background: none;
    text-align: left;
    text-decoration-line: underline;
    font-family: Gilroy;
    font-size: 12px;
    color: #C6A464;
    transition: 0.3s;
    &:hover,
    &:active {
      text-decoration: none;
      color: #2D5066;
    }
  }
  &__wrap {
    box-sizing: border-box;
    max-width: 625px;
    width: 100%;
    margin-right: 20px;
    @media @before-w1170 {
      max-width: 650px;
      margin: 30px 0;
      order: 1;
    }
    @media @before-w768 {
      max-width: none;
      margin: 0;
    }
  }
  &__inner {
    display: flex;
    align-items: center;
    @media @before-w768 {
      justify-content: space-between;
      margin: 20px 0;
    }
  }
  &__social {
    @media @before-w768 {
      max-width: 280px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
    }
  }
  &__soc-link {
    margin-right: 15px;
    text-decoration: none;
    color: #C6A464;
    transition: 0.3s;
    &:last-child {
      margin-right: 0;
    }
    &:hover {
      color: #2D5066;
    }
  }
  &__search-wrap {
    box-sizing: border-box;
    position: relative;
    width: 450px;
    display: flex;
    margin-left: auto;
    transition: 0.3s;
    @media @before-w768 {
      position: absolute;
      width: 100%;
      height: 80px;
      top: 0;
      left: 0;
      padding: 25px 20px;
      background: #fff;
      transform: translateY(-200%);
      z-index: 2;
      &--active {
        transform: translateY(0);
      }
    }
    &:hover,
    &:active,
    &:focus {
      .page-header__search {
        box-shadow: 0 0 5px 3px rgba(179,189,195,0.15);
      }
    }
  }
  &__search-submit {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 0;
    right: 0;
    border: none;
    background: none;
    color: #B3BDC3;
    transition: 0.3s;
    &:hover,
    &:active {
      color: #2D5066;
    }
    @media @before-w768 {
      top: 25px;
      right: 20px;
    }
  }
  &__search {
    box-sizing: border-box;
    width: 100%;
    height: 30px;
    padding: 0 40px 0 15px;
    background-color: #F4F8FB;
    border: none;
    border-radius: 3px;
    font-family: Gilroy;
    font-size: 12px;
    color: #B3BDC3;
    transition: 0.3s;
  }
  &__menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    @media @before-w1170 {
      max-width: 650px;
      margin: 0 auto;
    }
    @media @before-w768 {
      flex-direction: column;
      margin: 0;
    }
  }
  &__link {
    margin-top: 25px;
    margin-right: 10px;
    text-decoration: none;
    font-family: Gilroy;
    font-size: 14px;
    color: #000000;
    transition: 0.3s;
    &:last-child {
      margin-right: 0;
    }
    &:hover,
    &:active {
      text-decoration: underline;
      color: #C6A464;
    }
    @media @before-w768 {
      margin-top: 15px;
      &:first-child {
        margin-top: 0;
      }
    }
  }
  &__control-wrap {
    @media @before-w768 {
      width: 100%;
      display: flex;
      align-items: center;
    }
  }
  &__control {
    max-width: 80px;
    display: flex;
    justify-content: space-between;
    margin: 15px auto 0;
    @media @before-w768 {
      margin: 0 0 0 20px;
    }
  }
  &__product-sum {
    box-sizing: border-box;
    position: absolute;
    width: auto;
    height: 19px;
    padding: 4px 7px;
    right: 0;
    border-radius: 50%;
    background: #C6A464;
    text-align: center;
    font-family: Gilroy;
    font-size: 10px;
    font-weight: 800;
    color: #FFFFFF;
    transition: 0.3s;
  }
  &__like,
  &__cart {
    position: relative;
    width: 37px;
    text-decoration: none;
    color: #C6A464;
    transition: 0.3s;
    &:hover,
    &:active {
      color: #2D5066;
      .page-header__product-sum {
        background: #2D5066;
      }
    }
  }
  &__cart {
    @media @before-w768 {
      position: absolute;
      top: 25px;
      right: 20px;
    }
  }
}