<head>
  <meta charset="UTF-8">
  <meta name="format-detection" content="telephone=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
  <title>Site</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900&subset=latin,cyrillic" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="styles/styles.min.css?ver=0">
  
  <meta name="keywords" content="Site">
  <meta property="og:title" content="Site" />
  <meta property="og:description" content="Site" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://Site.ru/" />
  
  <script>
    if(/MSIE \d|Trident.*rv:/.test(navigator.userAgent))
        document.write('<script src="scripts/svg4everybody.min.js"><\/script>');
        document.write('<script src="scripts/picturefill.min.js"><\/script>');
        document.write('<script src="scripts/fitie.min.js"><\/script>');
  </script>
</head>