<div class="shadow" id="js-shadow"></div>
<header class="page-header" id="js-header">
    <div class="page-header__burger" id="js-burger">
        <span class="page-header__burger-inner"></span>
    </div>
    <button class="page-header__search-mobile  js-searchBtn" type="submit">
        <svg width="17" height="17">
            <use xlink:href="assets/icons/symbols.svg#search" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg>
    </button>
    <div class="page-header__wrapper">
        <a class="page-header__logo" href="#">
            <img class="page-header__logo-img" src="assets/images/logo.png" alt="logo">PRESTIGE<br>СВЕТ ЮГ
        </a>
        <div class="page-header__info">
            <div class="page-header__city">Ваш город:
                <select class="page-header__select" id="js-CitySelect" name="city" data-action="" data-placeholder="">
                    <option value="1">Краснодар</option>
                    <option value="2">Москва</option>
                    <option value="3">Сургут</option>
                    <option value="4">Казань</option>
                    <option value="5">Саратов</option>
                    <option value="6">Владивосток</option>
                </select>
            </div>
            <div class="page-header__contacts">
                <a class="page-header__phone" href="tel:8 (918) 656-63-78">8 (918) 656-63-78</a>
                <button class="page-header__callMe  js-callMe">
                    Заказать обратный звонок
                </button>
            </div>
        </div>
        <div class="page-header__wrap">
            <div class="page-header__inner">
                <div class="page-header__social">
                    <a class="page-header__soc-link" href="#">
                        <svg width="20" height="20">
                            <use xlink:href="assets/icons/symbols.svg#wa" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                        </svg>
                    </a>
                    <a class="page-header__soc-link" href="#">
                        <svg width="23" height="20">
                            <use xlink:href="assets/icons/symbols.svg#telegram" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                        </svg>
                    </a>
                    <a class="page-header__soc-link" href="#">
                        <svg width="20" height="21">
                            <use xlink:href="assets/icons/symbols.svg#viber" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                        </svg>
                    </a>
                </div>
                <form action="/" class="page-header__search-wrap" id="js-searchInput">
                    <input class="page-header__search" type="search" name="search" placeholder="Поиск по каталогу">
                    <button class="page-header__search-submit" type="submit">
                        <svg width="11" height="11">
                            <use xlink:href="assets/icons/symbols.svg#search" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                        </svg>
                    </button>
                </form>
            </div>
            <div class="page-header__menu">
                <a class="page-header__link" href="#">О компании</a>
                <a class="page-header__link" href="#">Доставка и оплата</a>
                <a class="page-header__link" href="#">Оснащение ресторанов и офисов</a>
                <a class="page-header__link" href="#">Дизайнерам</a>
                <a class="page-header__link" href="#">Контакты</a>
            </div>
        </div>
        <div class="page-header__control-wrap">
            <button class="page-header__btn  btn  btn--bg">Войти</button>
            <div class="page-header__control">
                <a class="page-header__like" href="#">
                    <svg width="22" height="21">
                        <use xlink:href="assets/icons/symbols.svg#like" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                    </svg>
                    <span class="page-header__product-sum">0</span>
                </a>
                <a class="page-header__cart" href="#">
                    <svg width="22" height="24">
                        <use xlink:href="assets/icons/symbols.svg#cart" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                    </svg>
                    <span class="page-header__product-sum">0</span>
                </a>
            </div>
        </div>
    </div>
    <nav class="page-header__nav  nav">
        <div class="nav__wrapper">
            <a class="nav__link" href="#">
                <svg class="nav__icon" width="31" height="33">
                    <use xlink:href="assets/icons/symbols.svg#nav-1" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                </svg>Распродажа</a>
            <a class="nav__link" href="#">
                <svg class="nav__icon" width="31" height="33">
                    <use xlink:href="assets/icons/symbols.svg#nav-1" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                </svg>Бренды</a>
            <a class="nav__link" href="#">
                <svg class="nav__icon" width="32" height="32">
                    <use xlink:href="assets/icons/symbols.svg#nav-3" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                </svg>Люстры</a>
            <a class="nav__link" href="#">
                <svg class="nav__icon" width="31" height="31">
                    <use xlink:href="assets/icons/symbols.svg#nav-4" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                </svg>Светильники</a>
            <a class="nav__link" href="#">
                <svg class="nav__icon" width="29" height="28">
                    <use xlink:href="assets/icons/symbols.svg#nav-5" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                </svg>Бра</a>
            <a class="nav__link" href="#">
                <svg class="nav__icon" width="18" height="29">
                    <use xlink:href="assets/icons/symbols.svg#nav-6" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                </svg>Настольные</a>
            <a class="nav__link" href="#">
                <svg class="nav__icon" width="23" height="31">
                    <use xlink:href="assets/icons/symbols.svg#nav-7" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                </svg>Торшеры</a>
            <a class="nav__link" href="#">
                <svg class="nav__icon" width="20" height="32">
                    <use xlink:href="assets/icons/symbols.svg#nav-8" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                </svg>Лампы</a>
            <a class="nav__link" href="#">
                <svg class="nav__icon" width="20" height="31">
                    <use xlink:href="assets/icons/symbols.svg#nav-9" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                </svg>Интерьерное</a>
            <a class="nav__link" href="#">
                <svg class="nav__icon" width="29" height="31">
                    <use xlink:href="assets/icons/symbols.svg#nav-10" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                </svg>Часы</a>
            <a class="nav__link" href="#">
                <svg class="nav__icon" width="31" height="31">
                    <use xlink:href="assets/icons/symbols.svg#nav-11" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                </svg>+ еще 7</a>
        </div>
    </nav>
</header>